
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* или по вашему усмотрению */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ag-body-vertical-scroll::-webkit-scrollbar-track,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-track,
.ag-body-vertical-scroll-container::-webkit-scrollbar-track {
  background-color: #a53b3b !important; /* Светлый серый фон, можно подстроить по вкусу */
}

.ag-body-vertical-scroll::-webkit-scrollbar,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar,
.ag-body-vertical-scroll-container::-webkit-scrollbar {
  width: 5px !important;   /* Ширина вертикального скроллбара */
}

.ag-body-vertical-scroll::-webkit-scrollbar-track,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-track,
.ag-body-vertical-scroll-container::-webkit-scrollbar-track {
  background: transparent !important; /* Прозрачный трек */
}

.ag-body-vertical-scroll::-webkit-scrollbar-thumb,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb,
.ag-body-vertical-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 5px !important;  /* Скругленные края */
  border: none !important;
}


/* Для WebKit-браузеров */
.ag-body-horizontal-scroll::-webkit-scrollbar,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-body-horizontal-scroll-container::-webkit-scrollbar {
  height: 5px !important;   /* Высота горизонтального скроллбара */
}

.ag-body-horizontal-scroll::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-container::-webkit-scrollbar-track {
  background: transparent !important;
}

.ag-body-horizontal-scroll::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 5px !important;
  border: none !important;
}